<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>iFrames</title>
        <script
            src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"
            defer
        ></script>
        <link
            rel="stylesheet"
            href="<%=htmlWebpackPlugin.files.chunks.main.css %>"
        />
    </head>
    <body
        class="View View--spaced View--backgroundBlueprint View--backgroundOverlay"
    >
        <div class="TabContainer TabContainer--fullBleed">
            <header class="TabContainer__head">
                <nav class="TabBar">
                    <ul class="TabBar__body">
                        <li class="TabBar__item">
                            <span class="TabBar__link TabBar__link--current"
                                >iFrame Application</span
                            >
                        </li>
                    </ul>
                </nav>
            </header>
            <main
                class="TabContainer__body TabContainer__body--shadow TabContainer__body--fullBleed"
            >
                <div class="Layout Layout--sideBarRight@md Layout--fullBleed">
                    <div class="Column Column--fullBleed Column--borderBottom">
                        <iframe
                            src="<%= process.env.HOST_ACCOUNT %>"
                            data-endpoint="AccountApp"
                            sandbox="allow-scripts allow-same-origin"
                            class="IFrame IFrame--fullBleed"
                        ></iframe>
                    </div>
                    <div
                        class="Column Column--borderBottom!xs Column--borderRight@md"
                    >
                        <iframe
                            src="<%= process.env.HOST_CATALOGUE %>"
                            data-endpoint="CatalogueApp"
                            sandbox="allow-scripts allow-same-origin"
                            class="IFrame IFrame--fullBleed"
                        ></iframe>
                    </div>
                    <div class="Column">
                        <iframe
                            src="<%= process.env.HOST_CHECKOUT %>"
                            data-endpoint="CheckoutApp"
                            sandbox="allow-scripts allow-same-origin"
                            class="IFrame IFrame--fullBleed"
                        ></iframe>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
